In [40]:
# Importing the required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [41]:
# To ignore warnings
import warnings
warnings.filterwarnings("ignore")

In [149]:
# Reading the csv file and putting it into 'df' object.
df = pd.read_csv('Weather_modified.csv')
df

     Outlook  Temp Humidity  Windy Play Golf
0      Rainy   Hot     High  False        No
1      Rainy   Hot     High   True        No
2   Overcast   Hot     High  False       Yes
3      Sunny  Mild     High  False       Yes
4      Sunny  Cool   Normal  False       Yes
5      Sunny  Cool   Normal   True        No
6   Overcast  Cool   Normal   True       Yes
7      Rainy  Mild     High  False        No
8      Rainy  Cool   Normal  False       Yes
9      Sunny  Mild   Normal  False       Yes
10     Rainy  Mild   Normal   True       Yes
11  Overcast  Mild     High   True       Yes
12  Overcast   Hot   Normal  False       Yes
13     Sunny  Mild     High   True        No

In [150]:
df = df.iloc[:,[0,2,4]]

In [151]:
df

     Outlook Humidity Play Golf
0      Rainy     High        No
1      Rainy     High        No
2   Overcast     High       Yes
3      Sunny     High       Yes
4      Sunny   Normal       Yes
5      Sunny   Normal        No
6   Overcast   Normal       Yes
7      Rainy     High        No
8      Rainy   Normal       Yes
9      Sunny   Normal       Yes
10     Rainy   Normal       Yes
11  Overcast     High       Yes
12  Overcast   Normal       Yes
13     Sunny     High        No

In [152]:
df.groupby(['Play Golf']).size()

Play Golf
No     5
Yes    9
dtype: int64

In [153]:
#find wether players will play or not based on outlook and windy
df.groupby(['Outlook','Play Golf']).size()

Outlook   Play Golf
Overcast  Yes          4
Rainy     No           3
          Yes          2
Sunny     No           2
          Yes          3
dtype: int64

In [154]:
df.groupby(['Humidity', 'Play Golf']).size()

Humidity  Play Golf
High      No           4
          Yes          3
Normal    No           1
          Yes          6
dtype: int64

In [155]:
df.groupby(['Outlook', 'Humidity', 'Play Golf']).size()

Outlook   Humidity  Play Golf
Overcast  High      Yes          2
          Normal    Yes          2
Rainy     High      No           3
          Normal    Yes          2
Sunny     High      No           1
                    Yes          1
          Normal    No           1
                    Yes          2
dtype: int64

In [156]:
# We need to find the player will play or not if outlook is sunny and Humidity is Normal
#Here we have only two classes Yes(Class1) and No(Class2)
#We need to find the probability for Class1(Yes) and Class2(No)
#and find the max probability class as final prediction
#Probability for Players will play if outlook is sunny and Humidity is Normal.
#P(Yes | [Sunny,Normal]) = P(Yes) * P( Sunny | Yes) * P( Normal | Yes) 
#P(No | [Sunny,Normal]) = P(No) * P( Sunny | No) * P( Normal | No) 
#y_pred = argmax{P(Yes | [Sunny,Normal]),P(No | [Sunny,Normal])}

In [157]:
#P(Yes | [Sunny,Normal]) = (9/14)*(3/9)*(6/9)
p_yes = (9/14)*(3/9)*(6/9)

In [158]:
p_yes

0.14285714285714285

In [159]:
#P(No | [Sunny,Normal]) = (5/14)*(2/5)*(1/5)
p_no = (5/14)*(2/5)*(1/5)

In [160]:
p_no

0.028571428571428577

In [190]:
n_p_yes = p_yes/(p_yes+p_no)
n_p_no = p_no/(p_yes+p_no)

n_p_yes, n_p_no

(0.8333333333333333, 0.1666666666666667)

In [161]:
#y_pred = np.argmax(p_yes,p_no)
0.83

In [162]:
from sklearn.preprocessing import LabelEncoder
# apply Label encoder to df_categorical

le = LabelEncoder()
df = df.apply(le.fit_transform)
df.head()

   Outlook  Humidity  Play Golf
0        1         0          0
1        1         0          0
2        0         0          1
3        2         0          1
4        2         1          1

In [163]:
X = df.iloc[:,:-1].values
y = df.iloc[:,-1].values

In [164]:
from sklearn.preprocessing import OneHotEncoder
# apply Label encoder to df_categorical

ohe = OneHotEncoder(categorical_features = [0,1])
X = ohe.fit_transform(X).toarray()

In [165]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gnb.fit(X,y)

GaussianNB(priors=None, var_smoothing=1e-09)

In [166]:
y_pred = gnb.predict(X)

In [167]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y,y_pred))

0.6428571428571429

In [168]:
from sklearn.naive_bayes import MultinomialNB
mnb = MultinomialNB()
mnb.fit(X,y)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [169]:
y_pred = mnb.predict(X)
print(accuracy_score(y,y_pred))

0.8571428571428571

In [170]:
from sklearn.naive_bayes import BernoulliNB
bnb = BernoulliNB()
bnb.fit(X,y)

BernoulliNB(alpha=1.0, binarize=0.0, class_prior=None, fit_prior=True)

In [171]:
y_pred = bnb.predict(X)
print(accuracy_score(y,y_pred))

0.8571428571428571

In [172]:
X

array([[0., 1., 0., 1., 0.],
       [0., 1., 0., 1., 0.],
       [1., 0., 0., 1., 0.],
       [0., 0., 1., 1., 0.],
       [0., 0., 1., 0., 1.],
       [0., 0., 1., 0., 1.],
       [1., 0., 0., 0., 1.],
       [0., 1., 0., 1., 0.],
       [0., 1., 0., 0., 1.],
       [0., 0., 1., 0., 1.],
       [0., 1., 0., 0., 1.],
       [1., 0., 0., 1., 0.],
       [1., 0., 0., 0., 1.],
       [0., 0., 1., 1., 0.]])

In [183]:
X1 = X[7].reshape(1,-1)

In [184]:
y_pred = bnb.predict(X1)

In [185]:
y_pred

array([0])